<div class="container-fluid">
    <div class="row" id="header">
        <div class="col">
            <h1 id="headerTitle">Twitter</h1>
        </div>
    </div>
    <div class="row" id="main">
        <div class="col" id="mainContainer">
            <div class="container-fluid" id="welcomeContainer">
                <h1 id="welcomeTitle">Welcome</h1>
            </div>
            <div class="container-fluid" id="signinContainer">
                <a routerLink="/sign-in" routerLinkActive="active" ariaCurrentWhenActive="page"><h5>Sign-In</h5></a>
                <h5>&nbsp;/&nbsp;</h5>
                <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page"><h5>Register</h5></a>
            </div>
        </div>
    </div>
    <div class="row" id="footer">
        <div class="col">
            <p id="footerTitle">Jason Gilman - FSD Program</p>
        </div>
    </div>
</div>

<router-outlet></router-outlet>