<div class="container-fluid" id="mainContainer">
    <div class="container-fluid">
        <div class="container" id="headerContainer">
            <div class="container" id="authorContainer">
                <div class="container" id="authorPhotoArea"></div>
                <a routerLink="{{'/' + user.id + '/profile/' + user.id}}" routerLinkActive="active" ariaCurrentWhenActive="page" id="authorName"><h5>{{user.firstName + " " + user.lastName}}</h5></a>
            </div>
            <div class="container" id="titleContainer">
                <h1 id="feedTitle">Your Feed</h1>
            </div>
            <div class="container" id="logoutContainer">
                <div #newTweetBox class="{{newTweetOpen ? 'container newTweetBoxFocused' : 'container newTweetBoxUnfocused'}}">
                    <textarea [(ngModel)]="newTweetInput" name="newTweetInput" (focus)="newTweetFocused()" class="{{newTweetOpen ? 'form-control textareaFocused' : 'form-control textareaUnfocused'}}" placeholder="What's up?" style="resize: none;"></textarea>
                    <p [ngStyle]="{display: newTweetError ? 'block': 'none'}" class="newTweetErrorMsg">{{newTweetErrorMsg}}</p>
                    <div class="container" style="display: flex;justify-content: space-evenly;align-items: center;margin: 0px;padding: 0px;">
                        <button (click)="cancelTweet()" [ngStyle]="{display: newTweetOpen ? 'block': 'none'}" class="btn btn-primary">Cancel</button>
                        <button (click)="publishTweet()" class="btn btn-primary">Tweet</button>
                    </div>
                </div>
                <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><h5>Logout</h5></a>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="feedContainer">
        <div class="container" id="boxContainer">
            <app-tweet *ngFor="let tweet of tweets" [tweet]="tweet" [loggedUser]="user"></app-tweet>
        </div>
    </div>
</div>

<router-outlet></router-outlet>