<div  class="card-body">
    <div class="container-fluid" id="authorArea">
        <div class="container" id="authorPhotoArea">
            <img src="{{author.profileImg}}" [ngStyle]="{display: author.profileImg==undefined?'none':'block'}" style="height:3.5rem;width:3.5rem;border-radius:100%;">
        </div>
        <a routerLink="{{'/' + loggedUser.id + '/profile/' + author.id}}" routerLinkActive="active" ariaCurrentWhenActive="page" id="authorName"><h5>{{author.firstName + " " + author.lastName}}</h5></a>
    </div>
    <div class="container-fluid" id="textArea"><p style="overflow-wrap: break-word;">{{tweet.text}}</p></div>
    <div class="container-fluid" id="actionArea">
        <div class="actionContainer">
            <button (click)="likeClicked()" class="iconButton"><i [ngStyle]="{color: userLikes ? 'red': 'lightgrey'}" class="fa fa-heart"></i></button>
            <p class="count">{{tweet.likes}}</p>
        </div>
        <div class="actionContainer">
            <button (click)="retweetClicked()" class="iconButton"><i [ngStyle]="{color: userRetweets ? 'lightblue': 'lightgrey'}" class="fa fa-retweet"></i></button>
            <p class="count">{{tweet.retweets}}</p>
        </div>
        <div class="actionContainer">
            <button (click)="commentsClicked()" class="iconButton"><i [ngStyle]="{color: commentsOpen ? 'grey': 'lightgrey'}" class="fa fa-comments"></i></button>
            <p class="count">{{comments.length}}</p>
        </div>
    </div>
</div>
<div id="commentsContainer">
    <div #commentsBox id="commentsBox" style="display: none;">
        <div class="container-fluid" style="overflow-x: hidden;overflow-y: auto;">
            <app-comment *ngFor="let comment of comments" [comment]="comment" [user]="loggedUser"/>
        </div>
        <div class="container-fluid">
            <form #commentForm="ngForm" (ngSubmit)="commentSubmit()" class="needs-validated" id="formContainer">
                <input type="text" class="form-control" placeholder="..." id="commentInput" required [(ngModel)]="commentInput" name="commentInput">
                <button class="iconButton" id="sendButton" type="submit" (click)="commentSubmit()"><i class="fa fa-arrow-circle-up"></i></button>
            </form>
        </div>
    </div>
</div>