<div  class="card-body">
    <div class="container-fluid" id="authorArea">
        <div class="container" id="authorPhotoArea"></div>
        <h5 id="authorName"><b>{{author.firstName + " " + author.lastName}}</b></h5>
    </div>
    <div class="container-fluid" id="textArea"><p>{{tweet.text}}</p></div>
    <div class="container-fluid" id="actionArea">
        <div class="actionContainer">
            <button [ngStyle]="{background: userLikes ? 'lightblue': 'white'}" (click)="likeClicked()">{{userLikes ? "Liked" : "Like"}}</button>
            <p class="count">{{tweet.likes}}</p>
        </div>
        <div class="actionContainer">
            <button [ngStyle]="{background: userRetweets ? 'lightblue': 'white'}" (click)="retweetClicked()">{{userRetweets ? "Retweeted" : "Retweet"}}</button>
            <p class="count">{{tweet.retweets}}</p>
        </div>
        <div class="actionContainer">
            <button (click)="commentsClicked()">Comments</button>
            <p class="count">{{comments.length}}</p>
        </div>
    </div>
</div>
<div id="commentsContainer">
    <div #commentsBox id="commentsBox" style="display: none;">
        <div class="container-fluid" style="overflow-x: hidden;overflow-y: auto;">
            <app-comment *ngFor="let comment of comments" [comment]="comment"/>
        </div>
        <div class="container-fluid">
            <form #commentForm="ngForm" (ngSubmit)="commentSubmit()" class="needs-validated" id="formContainer">
                <input type="text" class="form-control" placeholder="..." id="commentInput" required [(ngModel)]="commentInput" name="commentInput">
                <button type="submit" (click)="commentSubmit()">Send</button>
            </form>
        </div>
    </div>
</div>