<div class="container-fluid" id="mainContainer">
    <div class="container" id="boxContainer">
        <a id="backButton" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">&lt;&nbsp;back</a>
        <div class="container-fluid" id="headerContainer">
            <h1 id="signinHeader">New Account</h1>
        </div>
        <div class="container-fluid" id="formContainer">
            <form #registerForm="ngForm" (ngSubmit)="registerSubmit()" class="needs-validated">
                
                <div class="form-group">
                    <label for="firstNameInput"><h5>First Name:</h5></label>
                    <input type="text" class="form-control" placeholder="Jane" id="firstNameInput" required [(ngModel)]="firstName" name="firstName">
                    <div *ngIf="firstNameError" class="container" id="firstNameError">Valid First Name is Required</div>
                </div>
                <div class="form-group">
                    <label for="lastNameInput"><h5>Last Name:</h5></label>
                    <input type="text" class="form-control" placeholder="Doe" id="lastNameInput" required [(ngModel)]="lastName" name="lastName">
                    <div *ngIf="lastNameError" class="container" id="lastNameError">Valid Last Name is Required</div>
                </div>
                <div class="form-group">
                    <label for="bioInput"><h5>Initial Bio:</h5></label>
                    <textarea rows="4" class="form-control" placeholder="Tell us a bit about you..." id="bioInput" [(ngModel)]="bio" name="bio"></textarea>
                </div>
                <div class="form-group">
                    <label for="emailInput"><h5>Email Address:</h5></label>
                    <input type="email" class="form-control" placeholder="email" id="emailInput" required [(ngModel)]="emailAddress" name="emailAddress">
                    <div *ngIf="emailAddressError" class="container" id="emailError">Valid Email Address is Required</div>
                </div>
                <div class="form-group">
                    <label for="passwordInput"><h5>Password:</h5></label>
                    <input type="password" class="form-control" placeholder="password" id="passwordInput" required [(ngModel)]="password" name="password">
                    <div *ngIf="passwordError" class="container" id="passwordError">Valid Password is Required</div>
                </div>
                <div class="container-fluid" id="buttonContainer">
                    <button type="submit" class="btn btn-primary" id="submitButton" (click)="registerSubmit()">Create Account</button>
                </div>
            </form>
        </div>
    </div>
</div>

<router-outlet></router-outlet>