#mainContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

#boxContainer {
    min-height: 65vh;
    width: 40vw;
    background-color: lightblue;
    padding: 5%;
    position: relative;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submitButton {
    width: 60%;
}

.form-group {
    margin-bottom: 5%;
}

#emailError, #firstNameError, #lastNameError, #passwordError {
    margin-top: 2%;
    background-color: lightcoral;
    padding: 2%;
    border-radius: 4px;
}

#backButton {
    position: absolute;
    left: 4%;
    top: 4%;
}